.footer { margin-top: auto; padding: .3rem; background: var(--highlight); color: var(--background); text-align: center; font: 400 1.125rem var(--body-font); }
@media (max-width: 1200px) { .footer { margin-top: 1.125rem; font-size: 1rem; } }
