@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-destaque: #22D4FD;
    --cor-fundo: #000000;
    --cor-textos: #F6F6F6;
    --cor-hover-fundo: #272727;
    --fonte-titulo: 'Krona One', sans serif;
    --fonte-texto: 'Montserrat', sans serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-textos);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
    transition: all 0.5s;
}

.cabecalho__menu__link:hover {
    font-size: 1.7rem;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    text-align: justify;
}

.apresentacao__conteudo__paragrafo.-pequeno {
    font-size: 1.25rem;
}

.certificado {
    text-decoration: none;
    color: var(--cor-destaque);
    transition: all 0.5s;
}

.certificado:hover {
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__botoes {
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 21.5px 0;
    color: var(--cor-textos);
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid var(--cor-destaque);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.4s;
}

.apresentacao__links__botoes:hover {
    background-color: var(--cor-hover-fundo);
    width: 53%;
}

.cor-destaque {
    color: var(--cor-destaque);
}

strong {
    color: var(--cor-destaque);
}

.apresentacao__conteudo__experiencia {
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
    font-family: var(--fonte-titulo);
}

.apresentacao__imagem {
    width: 35%;
}

.rodape {
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    margin-top: auto;
    padding: 0.3rem;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 1.125rem;
    font-weight: 400;
}

@media (min-width: 1200px) {

    .apresentacao__imagem.-sticky {
        position: sticky;
        top: 25%;
        align-self: flex-start;
    }
}

@media (max-width: 1200px) {

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    h2, h3 {
        font-weight: normal;
    }

    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 15px;
    }

    .cabecalho__menu__link {
        font-size: 1rem;
    }

    .cabecalho__menu__link:hover {
        font-size: 1.3rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 8%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
    }

    .-center {
        text-align: center;
    }

    .-initial {
        text-align: initial;
    }

    .breakline::before {
        content: "\a";
        white-space: pre;
    }

    .apresentacao__conteudo__paragrafo {
        font-size: 1.125rem;
    }

    .apresentacao__conteudo__paragrafo.-pequeno {
        font-size: 1.125rem;
    }

    .apresentacao__links__subtitulo {
        font-size: 1.25rem;
    }

    .apresentacao__links__botoes {
        width: 60%;
        font-size: 1.25rem;
    }

    .apresentacao__links__botoes:hover {
        width: 65%;
    }

    .apresentacao__imagem {
        width: 50%;
    }

    .rodape {
        font-size: 1rem;
        margin-top: 1.125rem;
    }
}