@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-destaque: #22D4FD;
    --cor-fundo: #000000;
    --cor-hover-fundo: #272727;
    --cor-textos: #F6F6F6;
    --cor-textos-2: #757575;
    --fonte-titulo: 'Krona One', sans serif;
    --fonte-texto: 'Montserrat', sans serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-textos);
}

h3 {
    color: var(--cor-textos-2);
}

.cabecalho__menu.-mobile {
    display: none;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
    transition: all 0.5s;
}

.cabecalho__menu__link:hover {
    font-size: 1.7rem;
}

.botoes_idioma {
    padding: 3rem 15% 0 15%;
    display: flex;
    gap: 1rem;
}

.botao_idioma {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--cor-textos);
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.5s;
}

.botao_idioma:hover {
    width: 2.5rem;
    height: 2.5rem;
}

.apresentacao {
    padding: 3rem 15% 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    text-align: justify;
}

.apresentacao__conteudo__paragrafo.-pequeno {
    font-size: 1.25rem;
}

.certificado {
    text-decoration: none;
    color: var(--cor-destaque);
    transition: all 0.5s;
}

.emissor {
    color: var(--cor-textos-2);
    font-weight: 600;
}

.certificado:hover {
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__botoes {
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 21.5px 0;
    color: var(--cor-textos);
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid var(--cor-destaque);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.4s;
}

.apresentacao__links__botoes:hover {
    background-color: var(--cor-hover-fundo);
    width: 53%;
}

.cor-destaque {
    color: var(--cor-destaque);
}

strong {
    color: var(--cor-destaque);
}

.apresentacao__conteudo__experiencia {
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
    font-family: var(--fonte-titulo);
}

.apresentacao__imagem {
    width: 35%;
}

.rodape {
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    margin-top: auto;
    padding: 0.3rem;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 1.125rem;
    font-weight: 400;
}

@media (min-width: 1200px) {

    .apresentacao__imagem.-sticky {
        position: sticky;
        top: 25%;
        align-self: flex-start;
    }
}

@media (max-width: 1200px) {

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    h2, h3 {
        font-weight: normal;
    }

    .cabecalho__menu.-desktop {
        display: none;
    }

    .cabecalho {
        padding: 0;
    }

    .cabecalho__menu.-mobile {
        display: block;
    }

    .cabecalho__menu-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 1.5rem;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    
    .bar {
        background-color: var(--cor-textos);
        display: block;
        height: 3.5px;
        margin: 4px auto;
        width: 30px;
        transition: 0.5s;
    }

    .cabecalho__menu-button.active .bar1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    
    .cabecalho__menu-button.active .bar2 {
        opacity: 0;
    }
    
    .cabecalho__menu-button.active .bar3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .cabecalho__menu__mobile-links {
        display: flex;
        flex-direction: column;
        height: 15rem;
        justify-content: space-around;
        background-color: var(--cor-hover-fundo);
        position: absolute;
        top: 74.5px;
        left: 0px;
        width: 60%;
        text-decoration: none;
        text-align: left;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.5s ease;
    }

    .cabecalho__menu__mobile-links.show {
        transform: translateX(0);
        opacity: 1;
    }

    .cabecalho__menu__link {
        color: var(--cor-textos);
        font-size: 1.2rem;
        font-weight: 400;
        padding-left: 1.5rem;
    }

    .cabecalho__menu__link:hover {
        font-size: 1.3rem;
    }

    .botoes_idioma {
        justify-content: center;
        padding: 2rem 15% 0 15%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 8%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
    }

    .-center {
        text-align: center;
    }

    .-initial {
        text-align: initial;
    }

    .breakline::before {
        content: "\a";
        white-space: pre;
    }

    .apresentacao__conteudo__paragrafo {
        font-size: 1.125rem;
    }
    
    .apresentacao__conteudo__paragrafo.-pequeno {
        font-size: 1.125rem;
    }

    .apresentacao__links__subtitulo {
        font-size: 1.25rem;
    }

    .apresentacao__links__botoes {
        width: 60%;
        font-size: 1.25rem;
    }

    .apresentacao__links__botoes:hover {
        width: 65%;
    }

    .apresentacao__imagem {
        width: 50%;
        padding-top: 1rem;
    }

    .rodape {
        font-size: 1rem;
        margin-top: 1.125rem;
    }
}